html, body {
    height: 100vh;
    margin: 0;
    
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}
body {
    background: linear-gradient(to bottom, #f0f0f0, #ccccff);
    background-size: 200% 200%;
    /* background-repeat: repeat-y; */
    overflow: auto;
}
* {
    box-sizing: border-box;
  }
.card-hover:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.card-hover {
    cursor: pointer;
    transition: 0.3s;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card-body {
    text-align: center;
}
.stepper-block { display: none; }
.stepper-block.active { display: block; }
  
  .stepped-content {
    flex: 1;
  }
  .stepped-content {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure the parent div takes up the full height */
  }
  #quiz-form {
    display: flex;
    flex-direction: column;
    min-height: 600px; /* Adjust this value based on your content */
  }
  
  .nav-div {
    margin-top: auto; /* Pushes the nav-div to the bottom */
  }

  /* SVG for curcular score */
  .circular-progress {
    --size: 120px;
    --half-size: calc(var(--size) / 2);
    --stroke-width: 10px;
    --radius: calc((var(--size) - var(--stroke-width)) / 2);
    --circumference: calc(var(--radius) * 3.14159 * 2);
    --dash: calc((var(--progress) * var(--circumference)) / 100);
  }
  
  .circular-progress circle {
    cx: var(--half-size);
    cy: var(--half-size);
    r: var(--radius);
    stroke-width: var(--stroke-width);
    fill: none;
    stroke-linecap: round;
  }
  
  .circular-progress circle.bg {
    stroke: #ddd;
  }
  
  .circular-progress circle.fg {
    transform: rotate(-90deg);
    transform-origin: var(--half-size) var(--half-size);
    stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
    transition: stroke-dasharray 0.3s linear 0s;
    stroke: #5394fd;
  }
  
  .circular-progress text {
    font-size: 2em;
    fill: #000;
    text-anchor: middle;
  }
  
  .correct-answer {
    color: green;
}
.incorrect-answer {
    color: red;
}