{% extends "auth-base.html" %}
{% block content %}
<div class="container">
  <section style="background-color: #eee;">
    <div class="col-lg-8 mx-auto py-5">

      <!-- upload profile image -->
      <div class="row">
        <div class="col-lg-12">
          <div class="card mb-4">
            <div class="card-body">
              <label class="from-label align-text-center h3" for="customFile">Upload Profile Image</label>
              <form id="uploadForm" enctype="multipart/form-data">
              <div class="row">
                
                <div class="col-sm-9">
                    
                    <input type="file" class="form-control" name="profilePic" id="profilePic" />
                    
                </div>
                <div class="col-sm-3">
                  <button type="submit" class="btn btn-primary" id="uploadButton">Upload</button>
                </div>
                <div id="uploadError" class="error-message" style="color: red; font-weight: bold;"></div>
              </div>
              </form>
              <hr>
              <div class="d-flex justify-content-center">
                <a class="text-center btn btn-outline-primary " role="button" aria-disabled="true" href="{{ url_for('main.profile', username=session_user_data.username) }}">Go Back To Profile</a>
              </div>
            </div>
              
          </div>
        </div>
      </div>

      <!-- edit personal info -->
      <div class="row">
        <div class="col-lg-12">
          
          <div class="card mb-4">
            <div class="card-body">
              <form id="nameForm">
                <div class="align-text-center h3">Personal Information</div>
                <div class="row">
                  
                  <div class="col-sm-3">
                    <p class="mb-0">Full Name</p>
                  </div>
                  <div class="col-sm-6">
                    <div class="text-center p-t-12" id="nameError"> </div>
                    <input type="text" class="form-control" id="nameInput" disabled required placeholder="{{ session_user_data.name }}">
                  </div>
                  <div class="col-sm-3 d-flex align-items-center">
                    <button class="btn btn-primary btn-sm me-2 edit-btn" id="" type="button" data-field="name">Edit</button>
                    <button class="btn btn-success btn-sm me-2 d-none save-btn" id="" type="submit" data-field="name">Save</button>
                    <button class="btn btn-secondary btn-sm d-none cancel-btn" id="" type="button" data-field="name">Cancel</button>
                </div>
                </div>
              </form>
              
              <hr>
             
              <form id="usernameForm">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Username</p>
                  </div>
                  <div class="col-sm-6">
                    <div class="text-center p-t-12" id="usernameExists" style="display: none"> </div>
                    <div class="text-center p-t-12" id="usernameError" style="display: none"> </div>
                    <input type="text" class="form-control" id="usernameInput" disabled placeholder="{{ session_user_data.username }}">
                  </div>
                  <div class="col-sm-3 d-flex align-items-center">
                    <button class="btn btn-primary btn-sm me-2 edit-btn" type="button" data-field="username">Edit</button>
                    <button class="btn btn-success btn-sm me-2 d-none save-btn" type="submit" data-field="username">Save</button>
                    <button class="btn btn-secondary btn-sm d-none cancel-btn" type="button" data-field="username">Cancel</button>
                </div>
                </div>
              </form>
              
              <hr>
              
              <form id="genderForm">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Gender</p>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="genderInput" disabled placeholder="{{ session_user_data.gender }}">
                  </div>
                  <div class="col-sm-3 d-flex align-items-center">
                    <button class="btn btn-primary btn-sm me-1 edit-btn" type="button" data-field="gender">Edit</button>
                    <button class="btn btn-success btn-sm d-none save-btn" type="submit" data-field="gender">Save</button>
                    <button class="btn btn-secondary btn-sm d-none cancel-btn" id="" type="button" data-field="gender">Cancel</button>
                </div>
                </div>
               
              </form>
              <hr>
              <form id="ethnicityForm">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Ethnicity</p>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="ethnicityInput" disabled placeholder="{{ session_user_data.ethnicity }}">
                    <div class="ga-row" id="ethnicity-options" style="display: none">
                      <div class="ga-col ga-col-md-12">
                        <div class="ga-form-group">
                          <label class="ga-label">Ethnicity (select all that apply)</label>
                        </div>
                      </div>
                      <div class="ga-col ga-col-md-6">
                        <div class="ga-form-group">
                          <label class="ga-label ga-label-normal"><input class="ga-checkbox ga-checkbox-sm" type="checkbox" name="ethnicity" value="Prefer not to say" />Prefer not to say</label>
                          <label class="ga-label ga-label-normal"><input class="ga-checkbox ga-checkbox-sm" type="checkbox" name="ethnicity" value="Aborigine / Torres Straight Islander" />Aborigine / Torres Straight Islander</label>
                          <label class="ga-label ga-label-normal"><input class="ga-checkbox ga-checkbox-sm" type="checkbox" name="ethnicity" value="African American / Black" />African American / Black</label>
                          <label class="ga-label ga-label-normal"><input class="ga-checkbox ga-checkbox-sm" type="checkbox" name="ethnicity" value="East Asian" />East Asian</label>
                          <label class="ga-label ga-label-normal"><input class="ga-checkbox ga-checkbox-sm" type="checkbox" name="ethnicity" value="Latin American" />Latin American</label>
                          <label class="ga-label ga-label-normal"><input class="ga-checkbox ga-checkbox-sm" type="checkbox" name="ethnicity" value="Middle Eastern" />Middle Eastern</label>
                        </div>
                      </div>
                      <div class="ga-col ga-col-md-6">
                        <div class="ga-form-group">
                          <label class="ga-label ga-label-normal"><input class="ga-checkbox ga-checkbox-sm" type="checkbox" name="ethnicity" value="Native American" />Native American</label>
                          <label class="ga-label ga-label-normal"><input class="ga-checkbox ga-checkbox-sm" type="checkbox" name="ethnicity" value="Pacific Islander" />Pacific Islander</label>
                          <label class="ga-label ga-label-normal"><input class="ga-checkbox ga-checkbox-sm" type="checkbox" name="ethnicity" value="South Asian" />South Asian</label>
                          <label class="ga-label ga-label-normal"><input class="ga-checkbox ga-checkbox-sm" type="checkbox" name="ethnicity" value="Southeast Asian" />Southeast Asian</label>
                          <label class="ga-label ga-label-normal"><input class="ga-checkbox ga-checkbox-sm" type="checkbox" name="ethnicity" value="White" />White</label>
                          <label class="ga-label ga-label-normal"><input class="ga-checkbox ga-checkbox-sm" type="checkbox" name="ethnicity" value="Other" />Other</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 d-flex align-items-center">
                    <button class="btn btn-primary btn-sm me-1 edit-btn" type="button" data-field="ethnicity">Edit</button>
                      <button class="btn btn-success btn-sm d-none save-btn" type="submit" data-field="ethnicity">Save</button>
                      <button class="btn btn-secondary btn-sm d-none cancel-btn" id="" type="button" data-field="ethnicity">Cancel</button>
                </div>
                </div>
              </form>
              
              <hr>

              <form class="form-container">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Country</p>
                  </div>
                  <div class="col-sm-6">
                    
                    <select class="ga-select select2-selects" id="countrySelection" disabled>
                      <option disabled selected>{{ session_user_data.country }}</option>
                      {% for country in countries %}
                        <option>{{ country }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-sm-3 d-flex align-items-center">
                    <button class="btn btn-primary btn-sm me-1 edit-selection" type="button" data-field="country">Edit</button>
                    <button class="btn btn-success btn-sm d-none update-selection" type="submit" data-field="country">Save</button>
                    <button class="btn btn-secondary btn-sm d-none cancel-selection"  type="button" data-field="country">Cancel</button>
                </div>
                </div>
              </form>
              
              <hr>
              
              <form>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Address</p>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="addressInput" disabled placeholder="{{ session_user_data.address }}">
                  </div>
                  <div class="col-sm-3 d-flex align-items-center">
                    <button class="btn btn-primary btn-sm me-1 edit-btn" type="button" data-field="address">Edit</button>
                        <button class="btn btn-success btn-sm d-none save-btn" type="submit" data-field="address">Save</button>
                    <button class="btn btn-secondary btn-sm d-none cancel-btn" id="" type="button" data-field="address">Cancel</button>
                </div>
                </div>
              </form>
              <hr>
              
              <form>
                <div class="row">
                  <div class="col-sm-3">
                    <i class="fas fa-globe fa-lg text-warning"></i>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <p class="mb-0">https://</p>
                        </div>
                        <div class="flex-grow-1 ms-2">
                          {% if socials.website %}
                            <input type="text" class="form-control" id="websiteInput" disabled placeholder="{{ session_user_data.socials.website }}">
                            {% else %}
                            <input type="text" class="form-control" id="websiteInput" disabled placeholder="website">
                            {% endif %}
                        </div>
                    </div>
                </div>
                  <div class="col-sm-3 d-flex align-items-center">
                    <button class="btn btn-primary btn-sm me-1 edit-btn" type="button" data-field="website">Edit</button>
                        <button class="btn btn-success btn-sm d-none save-btn" type="submit" data-field="website">Save</button>
                    <button class="btn btn-secondary btn-sm d-none cancel-btn" id="" type="button" data-field="website">Cancel</button>
                </div>
                </div>
              </form>
              <hr>
              <form>
                <div class="row">
                  <div class="col-sm-3">
                    <i class="fab fa-github fa-lg text-body"></i>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <p class="mb-0">https://github.com/</p>
                        </div>
                        <div class="flex-grow-1 ms-2">
                            {% if socials.github %}
                            <input type="text" class="form-control" id="githubInput" disabled placeholder="{{ session_user_data.socials.github }}">
                            {% else %}
                            <input type="text" class="form-control" id="githubInput" disabled placeholder="github">
                            {% endif %}
                        </div>
                    </div>
                </div>
                  <div class="col-sm-3 d-flex align-items-center">
                    <button class="btn btn-primary btn-sm me-1 edit-btn" type="button" data-field="github">Edit</button>
                        <button class="btn btn-success btn-sm d-none save-btn" type="submit" data-field="github">Save</button>
                    <button class="btn btn-secondary btn-sm d-none cancel-btn" id="" type="button" data-field="github">Cancel</button>
                </div>
                </div>
              </form>
              <hr>
              <form>
                <div class="row">
                  <div class="col-sm-3">
                    <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <p class="mb-0">https://x.com/</p>
                        </div>
                        <div class="flex-grow-1 ms-2">
                            {% if socials.twitter %}
                            <input type="text" class="form-control" id="twitterInput" disabled placeholder="{{ session_user_data.socials.twitter }}">
                            {% else %}
                            <input type="text" class="form-control" id="twitterInput" disabled placeholder="x">
                            {% endif %}
                        </div>
                    </div>
                </div>
                  <div class="col-sm-3 d-flex align-items-center">
                    <button class="btn btn-primary btn-sm me-1 edit-btn" type="button" data-field="twitter">Edit</button>
                        <button class="btn btn-success btn-sm d-none save-btn" type="submit" data-field="twitter">Save</button>
                    <button class="btn btn-secondary btn-sm d-none cancel-btn" id="" type="button" data-field="twitter">Cancel</button>
                </div>
                </div>
              </form>
              <hr>
              <form>
                <div class="row">
                  <div class="col-sm-3">
                    <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <p class="mb-0">https://instagram.com/</p>
                        </div>
                        <div class="flex-grow-1 ms-2">
                            {% if socials.instagram %}
                            <input type="text" class="form-control" id="instagramInput" disabled placeholder="{{ session_user_data.socials.instagram }}">
                            {% else %}
                            <input type="text" class="form-control" id="instagramInput" disabled placeholder="instagram">
                            {% endif %}
                        </div>
                    </div>
                </div>
                  <div class="col-sm-3 d-flex align-items-center">
                    <button class="btn btn-primary btn-sm me-1 edit-btn" type="button" data-field="instagram">Edit</button>
                        <button class="btn btn-success btn-sm d-none save-btn" type="submit" data-field="instagram">Save</button>
                    <button class="btn btn-secondary btn-sm d-none cancel-btn" id="" type="button" data-field="instagram">Cancel</button>
                </div>
                </div>
              </form>
              <hr>
              <form>
                <div class="row">
                  <div class="col-sm-3">
                    <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                  </div>
                  <div class="col-sm-6">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <p class="mb-0">https://facebook.com/</p>
                        </div>
                        <div class="flex-grow-1 ms-2">
                            {% if socials.facebook %}
                            <input type="text" class="form-control" id="facebookInput" disabled placeholder="{{ socials.facebook }}">
                            {% else %}
                            <input type="text" class="form-control" id="facebookInput" disabled placeholder="facebook">
                            {% endif %}
                        </div>
                    </div>
                </div>
                  <div class="col-sm-3 d-flex align-items-center">
                    <button class="btn btn-primary btn-sm me-1 edit-btn" type="button" data-field="facebook">Edit</button>
                        <button class="btn btn-success btn-sm d-none save-btn" type="submit" data-field="facebook">Save</button>
                    <button class="btn btn-secondary btn-sm d-none cancel-btn" id="" type="button" data-field="facebook">Cancel</button>
                </div>
                </div>
              </form>
              <hr>
              <div class="d-flex justify-content-center">
                <a class="text-center btn btn-outline-primary" role="button" aria-disabled="true" href="{{ url_for('main.profile', username=session_user_data.username) }}">Go Back To Profile</a>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>

      <!-- edit professional info -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card mb-4">
          <div class="card-body">
            <div class="align-text-center h3">Professional Information</div>
            <form id="industryForm">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Industry</p>
                </div>
                <div class="col-sm-6">
                <select class="ga-select select2-selects" id="industrySelection" disabled>
                      <option disabled selected>{{ professional_info.industry }}</option>
                      {% for industry in industries %}
                        <option>{{ industry }}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="col-sm-3 d-flex align-items-center">
                  <button class="btn btn-primary btn-sm me-1 edit-selection" type="button" data-field="industry">Edit</button>
                  <button class="btn btn-success btn-sm d-none update-selection" type="submit" data-field="industry">Save</button>
                  <button class="btn btn-secondary btn-sm d-none cancel-selection" type="button" data-field="industry">Cancel</button>
              </div>
              </div>
             
            </form>
            <hr>
            <form id="professionForm">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Profession</p>
                </div>
                <div class="col-sm-6">
                <select class="ga-select select2-selects" id="professionSelection" disabled>
                      <option disabled selected>{{ professional_info.profession }}</option>
                      {% for profession in professions %}
                        <option>{{ profession }}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="col-sm-3 d-flex align-items-center">
                  <button class="btn btn-primary btn-sm me-1 edit-selection" type="button" data-field="profession">Edit</button>
                  <button class="btn btn-success btn-sm d-none update-selection" type="submit" data-field="profession">Save</button>
                  <button class="btn btn-secondary btn-sm d-none cancel-selection" type="button" data-field="profession">Cancel</button>
              </div>
              </div>
             
            </form>
            <hr>
            <form id="seniorityForm">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Seniority</p>
                </div>
                <div class="col-sm-6">
                <select class="ga-select select2-selects" id="senioritySelection" disabled>
                      <option disabled selected>{{ professional_info.seniority }}</option>
                      {% for seniority in seniority%}
                        <option>{{ seniority }}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="col-sm-3 d-flex align-items-center">
                  <button class="btn btn-primary btn-sm me-1 edit-selection" type="button" data-field="seniority">Edit</button>
                  <button class="btn btn-success btn-sm d-none update-selection" type="submit" data-field="seniority">Save</button>
                  <button class="btn btn-secondary btn-sm d-none cancel-selection" type="button" data-field="seniority">Cancel</button>
              </div>
              </div>
             
            </form>
            <hr>
            <form id="educationForm">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">education</p>
                </div>
                <div class="col-sm-6">
                <select class="ga-select select2-selects" id="educationSelection" disabled>
                      <option disabled selected>{{ professional_info.education }}</option>
                      {% for education in education%}
                        <option>{{ education }}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="col-sm-3 d-flex align-items-center">
                  <button class="btn btn-primary btn-sm me-1 edit-selection" type="button" data-field="education">Edit</button>
                  <button class="btn btn-success btn-sm d-none update-selection" type="submit" data-field="education">Save</button>
                  <button class="btn btn-secondary btn-sm d-none cancel-selection" type="button" data-field="education">Cancel</button>
              </div>
              </div>
             
            </form>
            <hr>
            <form id="salaryForm">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">salary</p>
                </div>
                <div class="col-sm-6">
                <select class="ga-select select2-selects" id="salarySelection" disabled>
                      <option disabled selected>{{ professional_info.salary }}</option>
                      {% for salary in salary%}
                        <option>{{ salary }}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="col-sm-3 d-flex align-items-center">
                  <button class="btn btn-primary btn-sm me-1 edit-selection" type="button" data-field="salary">Edit</button>
                  <button class="btn btn-success btn-sm d-none update-selection" type="submit" data-field="salary">Save</button>
                  <button class="btn btn-secondary btn-sm d-none cancel-selection" type="button" data-field="salary">Cancel</button>
              </div>
              </div>
             
            </form>
            <hr>
            <div class="d-flex justify-content-center">
              <a class="text-center btn btn-outline-primary" role="button" aria-disabled="true" href="{{ url_for('main.profile', username=session_user_data.username) }}">Go Back To Profile</a>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    </div>
    
  </section>

</div>
  {% endblock %}