{% extends "auth-base.html" %}
{% block content %}

<div class="container-fluid d-flex">
  <div class="col-lg-12 col-md-8 mx-auto">
      <div >     
      <section class="vh-100 bg-image"
        style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
          <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                  <div class="card-body p-5">
                    <h2 class="text-uppercase text-center mb-5">Login</h2>

                    <form class="validate-form" method="POST" id="login-form">
                      <div class="text-center p-t-12" id="flashMessage" style="justify-content: center; height: 100%; align-items: center; color: red;">

                      </div>
                      <div class="alert">
                        {% with messages = get_flashed_messages(category_filter="success") %}
                            {% if messages %}
                                {{ messages[0] }}
                            {% endif %}
                        {% endwith %}
                    </div>
                      <div data-mdb-input-init class="form-outline mb-4" data-validate = "Valid email is required: ex@abc.xyz">
                        <input type="email" id="l-email" class="form-control form-control-lg" 
                        placeholder="Enter a valid email address"/>
                        <label class="form-label" for="l-email">Your Email</label>
                      </div>

                      <div data-mdb-input-init class="form-outline mb-4" data-validate = "Password is required">
                        <input type="password" id="l-password" class="form-control form-control-lg" 
                        placeholder="Enter password"/>
                        <label class="form-label" for="l-password">Password</label>
                      </div>

                      <button type="button" class="btn pb-5" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg" id="reset">Forgot password?</button>

                      <div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLongTitle">Enter your email address to reset password</h3>
                                  </div>
                                  <div class="modal-body">
                                    <div class="text-center p-t-12" id="resetConfirm"></div>
                                    <input class="form-control form-control-lg" type="email" id="emailInput-reset" placeholder="Enter a valid email address">
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="submit-button">Reset</button>
                                  </div>
                            </div>
                        </div>
                        </div>

                      <div class="d-flex justify-content-center">
                          <button  type="submit" data-mdb-button-init
                              data-mdb-ripple-init class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                              Login
                          </button>
                      </div>
                      

                      <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a href="{{ url_for('authentication.signup') }}"
                          class="fw-bold text-body"><u>Register Here</u></a></p>
                      <p class="text-center text-muted mt-5 mb-0">Continue as a <a href="{{ url_for('main.index') }}"
                        class="fw-bold text-body"><u>Guest</u></a></p>

                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      </div>
  </div>
</div>
{% endblock %}