{% extends "auth-base.html" %}
{% block content %}
<div class="onboarding-container">
  <div class="page page-1" data-page="1">
    <div class="page-content">
      <h1>Hello. Welcome To Najua</h1>
      <h3>Complete these steps to get started.</h3>
      <p>You may add or remove this information from your profile at any time.</p>
      <button id="nextButton1">Next <i class="fas fa-arrow-right"></i></button>
    </div>
  </div>

  <form class="onboarding-form" method="POST" id="onboarding" novalidate>
    <div class="page page-2 hidden" data-page="2">
      <div class="page-content">
        <h1>What's Your Name?</h1>
        <div class="input-group">
          <input type="text" id="name" name="name" placeholder="Enter First And Last Name" required />
          <button type="button" class="small" id="nextButtonName">
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="page page-3 hidden" data-page="3">
      <div class="page-content">
        <h1>What's Your Preferred Username?</h1>
        <div id="usernameExists" class="text-center p-t-12 d-none"></div>
        <div class="input-group">
          <input id="username" name="username" type="text" placeholder="Select A Username" required />
          <button type="button" class="small" id="nextButtonUsername">
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="page page-4 hidden" data-page="4">
      <div class="page-content">
        <h1>What's Your Date of Birth?</h1>
        <div class="input-group">
          <input type="date" id="dob" name="dob" value="2000-01-01" min="1900-01-01" max="2025-12-31" required />
          <button type="button" class="small" id="nextButtonDob">
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="page page-5 hidden" data-page="5">
      <div class="page-content">
        <h1>What's Your Country of Residence?</h1>
        <div class="input-group">
          <select class="" id="countrySelect">
            <option disabled selected>Select one</option>
            {% for country in countries %}
              <option> {{ country }}</option>
            {% endfor %}
          </select>
            <button type="button" class="small" id="nextButtonCountry">
              <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="page page-6 hidden" data-page="6">
      <div class="page-content">
        <h1>Let's get started!</h1>
        <button id="doneButton" type="submit" disabled>
          Go!
          <i class="fas fa-rocket"></i>
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
