<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Firebase Auth Boiler - {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://s3.amazonaws.com/ga-patterns/1.0.9/universal-kit.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" type="text/css">
    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

  <div class="container">
    {% include("_navigation.html") %}

    <!-- Main -->
    <main id="main" class="flexbox-col">
      <!-- <div class="navbar-end">
        {% if 'user' in session %}
        <a href="{{ url_for('main.profile') }}" class="navbar-item">             
          <div class="profile-container">
            <p class="desktop-view" style="margin-right: 10px;">Howdy, {{ session['user'].email }}!</p>
            
            <p class="mobile-view">Profile</p>
          </div>
           
        </a>
        <a class="button is-light" href="{{ url_for('authentication.logout') }}">
          Logout
        </a>
        {% else %}

        <a class="button is-primary" href="{{ url_for('authentication.signup') }}">
          <strong>Sign up</strong>
        </a>
        <a class="button is-light" href="{{ url_for('authentication.login') }}">
          Log in
        </a>
        {% endif %}
      </div> -->
        <nav class="navbar navbar-expand-md bg-primary navbar-dark">
          <div class="container">            
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa d-inline fa-lg fa-bookmark-o"></i> Bookmarks</a>
                </li>
                <li class="nav-item">
                </li>
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> <i id="updates" class="fa d-inline fa-lg fa-envelope-o"></i> Notifications
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li class="dropdown-header" id="notifyHeader">You have 0 updates.</li>
                    <hr>
                    <li id="notifyContent"></li>
                  </ul>
                </div>
              </ul>
              {% if 'user' in session %}
        <a class="btn navbar-btn btn-primary ml-2 text-white" href="{{ url_for('authentication.logout') }}"><i class="fa d-inline fa-lg fa-user-circle-o"></i>
          Logout
        </a>
        {% else %}

        <a class="btn navbar-btn btn-primary ml-2 text-white" href="{{ url_for('authentication.signup') }}">
          <strong>Sign up</strong>
        </a>
        <a class="btn navbar-btn btn-primary ml-2 text-white" href="{{ url_for('authentication.login') }}">
          Log in
        </a>
        {% endif %}
            </div>
          </div>
        </nav>

      
        {% block content %}
        {% endblock content %}

    </main>
  </div>
  <script type="module" src="{{ url_for('static', filename='js/firebase.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/nav.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script type="module" src="{{ url_for('static', filename='js/onboarding.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html