<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Firebase Auth</title>
</head>
<body>
    <div id="loginForm">
        <div><p>Login</p></div>
        <form method="POST" id="login-form">
            <div class="field">
                <div class="control">
                    <input class="input is-large" id="l-email" type="email" name="email" autocomplete="on" placeholder="Your Email" autofocus="">
                </div>
            </div>
    
            <div class="field">
                <div class="control">
                    <input class="input is-large" id="l-password" type="password" name="password" autocomplete="off" placeholder="Your Password">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    Remember me
                </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth" type="submit">Login</button>
            <!-- Add reset password link -->
            <p>Forgot your password? <a href="#" id="reset">Reset it here</a>.</p>
            <div id="resetDiv"></div>
        </form>
    </div>
    <div></div>
    
    <div id="signupForm">
        <div><p>Sign Up</p></div>
        <form id="signup-form" method="POST">
            <div class="field">
                <div class="control">
                    <input class="input is-large" id="signup-email" type="email" name="email" autocomplete="on" placeholder="Email" autofocus="">
                </div>
            </div>
    
            <div class="field">
                <div class="control">
                    <input class="input is-large" id="signup-password" type="password" name="password" placeholder="Password">
                </div>
            </div>
    
            <button class="button is-block is-info is-large is-fullwidth" type="submit">Sign Up</button>
        </form>
        <br>
        <div></div>
        <button id='logout' class="button is-block is-info is-large is-fullwidth" type="submit">Log Out</button>
    


<!-- 
        <h1>Hello, World!</h1>
    <button onclick="fetchData()">Fetch Data</button>

        <h1>Todo List</h1>
        <ul id="todo-list"></ul>
        <form id="todo-form">
            <input type="text" id="todo-input" placeholder="Enter a new todo">
            <button type="submit">Add Todo</button>
        </form> -->

    </div>
    <script type="module" src="../static/js/firebase.js"></script>
</body>
</html>