{% extends "base.html" %}
{% block content %}

<div class="card-body p-5">
    <div class=""></div>
    <div class="px-lg-5">
        <hr>
        <div class="">
            <h5 class="mb-0 ">Choose from our database of saved quizzes
                and rank with other users
            </h5>
        </div>
        <hr>
        <div>
            <form class="" method="post" id="existing-quiz">
                <div class="row p-1">
                    <div class="col-sm">
                        <p class="text-start">Category</p>
                    </div>
                    <div class="col-sm">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Category</option>
                            <option value="10">Science</option>
                            <option value="20">Entertainment</option>
                          </select>
        
                    </div>
                </div>
                <div class="row p-1">
                    <div class="col-sm">
                        <p class="text-start">Difficulty Level</p>
                    </div>
                    <div class="col-sm">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Difficulty</option>
                            <option value="">Any</option>
                            <option value="easy">Easy</option>
                            <option value="medium">Medium</option>
                            <option value="hard">Hard</option>
                          </select>
        
                    </div>
                </div>
                <div class="row p-1">
                    <div class="col-sm">
                        <p class="text-start">Type</p>
                    </div>
                    <div class="col-sm">
                        <select class="form-select" aria-label="Default select example" id="quiz-type">
                            <option selected value="">Type</option>
                            <option value="multiple">multiple</option>
                            <option value="boolean">True/False</option>
                          </select>
        
                    </div>
                </div>

                <button type="submit" id="search-quiz-btn" class="btn btn-primary mt-4">Search</button>
                <div class="" id="quiz-search-results">

                </div>
            </form>
        </div>
        <hr><hr>
        <div class="col">
            <h5> Featured Quizzes</h5>
        </div>
        
        
        
    </div>
    
    </div>

{% endblock %}