{% extends 'base.html' %}
{% block title %} Quiz {% endblock %}
{% block content %}


    <div id="courseForm" class="">
        <!-- Static Quiz Header -->
        <div id="quiz-header" class="card-body d-flex justify-content-between align-items-center border-bottom pb-3 mb-3">
            <div class="d-flex align-items-center">
            <a href="#">
                <img src="#" alt="category" class="rounded img-4by3-lg">
            </a>
            <div class="ms-3">
                <h3 class="mb-0">A <span id="quiz-type">Random</span> Quiz</h3>
            </div>
            </div>
            <div>
            <span class="text-danger">
                <i class="fe fe-clock me-1 align-middle"></i>
                <span id="timer">00:00:00</span>
            </span>
            </div>
        </div>
            <!-- Quiz Progress -->
        <div id="quiz-progress" class="card-body mt-3">
            <div class="d-flex justify-content-between">
            <span>Quiz Progress: </span>
            <span id="quiz-progress-info">Question 1 out of 10</span>
            </div>
            <div class="mt-2">
            <div class="progress" style="height: 6px;">
                <div id="progress-bar" class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            </div>
        </div>
        <!-- stepped question content -->
        <div class="stepped-content">
            <div class="" role="tablist" id="quiz-steps">
               <!-- Steps will be populated here by JS -->
               
            </div>
            <form id="quiz-form" method="POST">
        
                <!-- Questions will be populated here by JS -->
            </form>
         </div>

          
        
    </div>

{% endblock %}