{% extends "base.html" %}
{% block content %}

<div class="card-body p-5">
    <div class=""></div>
    <div class="px-lg-5">
        <hr>
        <div class="">
            <h5 class="mb-0 ">Start random quiz with questions from varied categories and
                difficulty levels
            </h5>
        </div>
        <hr>
        <div>
            <form class="form" metho="post" id="random-quiz">
                <div class="row p-5">
                    <div class="col-sm">
                        <p >Select Number of Questions</p>
                    </div>
                    <div class="col-sm">
                        <select class="form-select" aria-label="Default select example" id="question-count">
                            <option selected value="10">Number of Questions</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                          </select>
        
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary mt-4">Start Quiz</button>
            </form>
        </div>
        
        
        
    </div>
    
    </div>

{% endblock %}